<ng-progress></ng-progress>
      <div class="container">
          <div class="card-deck">
              <div class="card mb-4">
                  <img class="card-img-top img-fluid" src="../assets/images/got6.jpg" alt="Card image cap">
                  <div class="card-body" >
                      <h4 class="card-title">SELECT THE BOOK OF YOUR CHOICE ON <i class="icon-hand-right"></i>  <a [routerLink]="['/books']"> BOOKS-PAGE</a></h4> 
                      
                     
        
                  </div>
              </div>
              </div>
              </div>

              