<html>
<head>

  </head>
  <body>


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
          <a class="navbar-brand " href="#home"><img src="../../assets/images/got7.png" class="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/home']">HOME<span class="sr-only"></span></a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/books']">BOOKS</a>
               
              </li>
            
              
            </ul>
            
          </div>
        </nav>

        



        <div>

            <div class="container11">
                <div class="textblock">
                    <h4>WELCOME</h4>
                    <p>TO GAME OF THRONES BOOKS LIBRARY</p>
                  </div>
                </div>

                      
        </div>

     
      
        

       
        
  </body>



 

              <router-outlet></router-outlet>


</html>